* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.color-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;
    max-height: 450px;
    height: 450px;
    width: 450px;
    border-radius: 40px;
    padding: 20px;
}

.color-picker h1 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #fff;
}

.color-box {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
    transition: background-color 0.5s, transform 0.5s;
}

.color-picker input {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.name-input {
    width: 300px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #ffd30e;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;

}

.object-state {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    height: fit-content;

    border-radius: 40px;
    padding: 20px;
    color: #fff;
}

.main-container {
    background-color: chocolate;
    padding: 40px;
    border-radius: 10px;
}

.box {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.left-side {
    display: flex;
    flex-direction: column;
}



.text-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 10px;
}

li {
    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #00ffff;
}

li:hover {
    background-color: #000000;
    color: #fff;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 10px;
}

.carDetials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #00ffff;
}

hr {
    width: 100%;
    margin: 10px;
    border: 1px solid #000;
}

.task {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #99cbcb;
    width: 100%;


}
.task:hover {
    background-color: #000000;
    color: #fff;
}
.Todo-Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid #000; */
    border-radius: 10px;
    /* background-color: #00ffff; */
    width: 500px;
}

.Todo-App {

    /* border: 1px solid #000; */
    border-radius: 10px;
    background-color: #00ffff;
    width: 500px;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: coral;
    border-radius: 10px;
}

.AddTask {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #ffff00;
    width: 500px;
}

.removeButton {
    background-color: red;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}